body {
    background-color: #222629;
    color: whitesmoke;
    text-align: center;
    font-family: Arial;
    display: grid;
    height: 60vh;
    margin: 0;
    place-items: center center;
    font-size: larger;
  }

  .film-index {
    text-align: left;
  }

  .film-new {
   text-align: left;
  }

  .film-show {
    line-height: normal;
  }

  .film-edit {
    text-align: left;
  }

  a:hover {
    color: whitesmoke;
  }

  a {
    color: #66FCF1;
  }

  input[type="submit"] {
    cursor: pointer;
    background-color: #222629;
    color: #66FCF1;
    font-size: large;
    font-family: Arial;
    border-radius: 5px;
    border: solid;
    font-weight: 700;
  }

  input:hover {
    color: black;
  }

  
  .dropbtn {
    background-color: #222629;
    color: #66FCF1;
    padding: 16px;
    font-size: larger;
    font-weight: 900;
    font-family: Arial;
    border-radius: 10px;
    border: solid;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #7395AE;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #222629;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #7395AE;}
  
  .show {display: block;}
  

  