body {
    background-color: #222629;
    color: whitesmoke;
    text-align: center;
    font-family: Arial;
    display: grid;
    height: 60vh;
    margin: 0;
    place-items: center center;
    font-size: larger;
  }

  .film-index {
    text-align: left;
  }

  .film-new {
   text-align: left;
   
  }

  .film-show {
    line-height: normal;
  }

  .film-edit {
    text-align: left;
  }

  a:hover {
    color: whitesmoke;
  }

  a {
    color: #66FCF1;
  }

  input[type="submit"] {
    cursor: pointer;
    background-color: #222629;
    color: #66FCF1;
    font-size: large;
    font-family: Arial;
    border-radius: 5px;
    border: solid;
    font-weight: 700;
  }

  input:hover {
    color: #7395AE;
  }

  