<h1>Sign Up</h1><br>


<% if @errors%>
Sorry! <%=@errors.join(", ")%>.
<%end%>


<form action="/signup" method="post">


<p><label for="user_name">User Name:</label>
<input type="text" id="user_name" name="user_name"><br><br>
<label for="email">User Email:</label>
<input type="text" id="email" name="email"><br><br>
<label for="password">Password:</label>
<input type="password" id="password" name="password"></p><br>
<input type="submit" value="Sign Up!"></form>

