<h2>Register Your Film Print</h2>

<b><form action="/films" method="post">
    <label for="title"> Film Title: </label>
    <input id="title" type="text" name="title"><br><br>
    <label for="genre"> Genre: </label>
    <input id="genre" type="text" name="genre"><br><br>
    <label for="gauge"> Gauge: </label>
    <input id="gauge" type="text" name="gauge"><br><br>
    <label for="condition"> Condition: </label>
    <input id="condition" type="text" name="condition"><br><br>
    <label for="reels"> Reels: </label>
    <input id="reels" type="text" name="reels"><br><br>
    <label for="length"> Length: </label>
    <input id="length" type="text" name="length">'<br><br>
    <input type="submit" value="Submit">
</form></b><br>

