<h2>Register Your Film Print</h2>

<div class="film-new">
<% if @errors%>
<p style="color:red">Sorry! <%=@errors.join(", ")%>.</p>
<%end%><br><br>


<b><form action="/films" method="post">
    <label for="title"> Film Title: </label>
    <input id="title" type="text" name="title"><br><br>
    <label for="genre"> Genre: </label></b>
    <input id="genre" type="text" name="genre"><i> - Optional</i><br><br><b>
    <label for="gauge"> Gauge: </label>
    <select name="gauge">
    <option value="8mm">8mm</option>
    <option value="16mm">16mm</option>
    <option value="35mm">35mm</option>
    <option value="70mm">70mm</option>
    </select><br><br>
    <label for="aspect_ratio"> Aspect Ratio: </label>
    <select name="aspect_ratio">
    <option value="1.33">1.33</option>
    <option value="1.36">1.36</option>
    <option value="1.66:1">1.66:1</option>
    <option value="1.78:1">1.78:1</option>
    <option value="1.85:1">1.85:1</option>
    <option value="2.39:1">2.39:1</option>
    <option value="2.75:1">2.75:1</option>
    </select><br><br>
    <label for="condition"> Condition: </label>
    <input id="condition" type="text" name="condition"><br><br>
    <label for="reels"> Reels: </label>
    <input id="reels" type="text" name="reels"><br><br>
    <label for="length"> Length: </label>
    <input id="length" type="text" name="length"> '<br><br>
    <label for="theater"> Theater or Organization: </label></b>
    <input id="theater" type="text" name="theater"><i> - Optional </i><br><br>
    <input type="submit" value="Register">
</form><br></div>

