<h2>Register Your Film Print<h2>

<form action="/films" method="post">
    <label for="title"> Film Title: </label>
    <input id="title" type="text" name="title"><br><br>
    <input type="submit" value="Submit">
</form>