
<figure class="captionEffect" data-effect="fade-in">
<img src="images/IMG_E1606.JPG">
    <figcaption>
    <h3>Welcome to The Reel Vault!</h3>
  </figcaption>
</figure>

<h3><a href="/signup">Sign Up</a></h3> -OR- <h3><a href="/login"> Log In</a></h3>