<a href="/films/new">Start Your Vault Journey!</a><br><br>
<a href="/films">View Some Films!</a><br><br>

<form action="/search/results" method="get">
<label for="search"> SEARCH: </label>
<input type="text" name="search"></form>